.align-justify{
    text-align: justify;
}
.nav-link:hover{
    text-decoration: underline;
}

.navbar{
    box-shadow: 1px 20px 30px #76797e;
}
.text-indent{
    text-indent: 20px;
}
.pieces{
    width: 50%!important;
}