body{
    background: linear-gradient(0deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('img/table_background.jpg');
    background-attachment: fixed;
    
}
.align-justify{
    text-align: justify;
}
.nav-link:hover{
    text-decoration: underline;
}

.navbar{
    box-shadow: 1px 5px 20px #76797e;
}
.text-indent{
    text-indent: 20px;
    font-weight: bold;
}
.carousel-bg{
    background-color: rgba(0, 0, 0, .5);
}
.pieces{
    width: 50%!important;
}
.movePicture{
    width: 50%;   
}
.container{
    background: linear-gradient(0deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
}
.email-icon{
    width: 25px;
    height: fit-content !important;
    
}
#progress{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: black;
}