body{
    background: linear-gradient(0deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('img/table_background.jpg');
    background-attachment: fixed;
    
}
.align-justify{
    text-align: justify;
}
.nav-link:hover{
    text-decoration: underline;
}

.navbar{
    box-shadow: 1px 5px 20px #76797e;
}
.text-indent{
    text-indent: 20px;
    font-weight: bold;
}
.carousel-bg{
    background-color: rgba(0, 0, 0, .5);
}
.pieces{
    width: 50%!important;
}
.movePicture{
    width: 50%;   
}
.container{
    background: linear-gradient(0deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
}
.email-icon{
    width: 25px;
    height: fit-content !important;
    
}
#progress{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: black;
}
a{
    text-decoration: none !important;
    transition: text-shadow .5s !important;
}
a:hover{
    text-decoration: underline !important;
    text-shadow: 0px 0px 7px #ffffff;

}
.video-main-div{
    width: 90% !important;
}
.moves{
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}
@media only screen and (max-width: 576px){
    .logo{width: 100px;}
}
@media only screen and (min-width: 576px){
    .logo{width: 25%;}
}
@media only screen and (min-width: 768px){
    .logo{width: 22%;}
}
@media only screen and (min-width: 1200px){
    .logo{width: 18%;}
}
@media only screen and (min-width: 1400px){
    .logo{width: 15%;}
}
#registration-main-div{
    padding-left: 2%;
    width: 50%;
}
@media only screen and (max-width: 992px){
    #registration-main-div{
        width: 75%;
        padding-left: 10%;
    }
}
.form-input{
    width: 83%;
}
.prize-logo{
    height: 9em !important;
}
@media only screen and (max-width: 576px){
    .prize-img{
        width: 100% !important;
        border: none !important;
    }
}
@media only screen and (min-width: 576px){
    .prize-img{width: 85% !important;}
}
@media only screen and (min-width: 992px){
    .prize-img{width: 92% !important;}
}
@media only screen and (max-width: 1400px) {
    .registration-header{
        justify-content: space-around !important;
    }    
}
@media only screen and (min-width: 1400px) {
    .registration-header{
        justify-content: center !important;
    }    
}

#green_tick{
    display: none;
    width: 20%;
}